@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Lato:wght@300&family=Open+Sans:wght@300;400&family=Poppins:wght@300&family=Raleway:wght@200;300;400&family=Roboto:wght@300&display=swap");

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Custom scrollbar for Chrome, Edge, Safari and Opera */
*::-webkit-scrollbar {
  width: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a85cf9;
}

/* hover menu item */
.nav_link {
  @apply relative text-sm px-5 py-2;
}
